<%- include("header") %>

    <h2>This is the about page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, nobis adipisci facilis suscipit rerum quam velit
        atque quia sint minima excepturi deserunt consequuntur, aperiam fuga impedit eum aliquam? Et, soluta.</p>

<%- include("footer") %>